In [1]:
import pandas as pd
import numpy as np

In [5]:
cov_data = pd.read_json('dpc-covid19-ita-andamento-nazionale.json')

rng = pd.date_range(start = '2020-02-24', end = '2022-05-03', freq='D')

cov_data = cov_data.set_index(keys=rng, drop=True, inplace=False)
cov_data = cov_data[['terapia_intensiva','totale_ospedalizzati',
                    'totale_positivi','variazione_totale_positivi',
                    'nuovi_positivi', 'deceduti']]

mapping = {cov_data.columns[0]:'intensive_care',
        cov_data.columns[1]:'hospitalised', cov_data.columns[2]:'tot_positive_cases',
        cov_data.columns[2]:'tot_positives', cov_data.columns[3]:'delta_tot_positives', 
        cov_data.columns[4]:'new_positives', cov_data.columns[5]:'deceased'}

cov_data = cov_data.rename(columns = mapping)
cov_data['delta_icus'] = cov_data['intensive_care'].diff(periods=1)
cov_data['delta_deceased'] = cov_data['deceased'].diff(periods=1)
cov_data = cov_data.iloc[:-3,:]
cov_data = cov_data.iloc[1:]
cov_data.tail(5)

,intensive_care,hospitalised,tot_positives,delta_tot_positives,new_positives,deceased,delta_icus,delta_deceased
2022-04-26,409,10737,1234976,-7624,29575,162927,-7.0,146.0
2022-04-27,394,10549,1234676,-300,87940,163113,-15.0,186.0
2022-04-28,382,10458,1248806,14130,69204,163244,-12.0,131.0
2022-04-29,371,10313,1247117,-1689,58861,163377,-11.0,133.0
2022-04-30,366,10192,1229379,-17738,53602,163507,-5.0,130.0

In [3]:
cov_data.to_csv('cov_data_ita')